@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,700&display=swap');

body {
  font-family: 'Lato', sans-serif; /* Updated font-family */
  margin: 0;
  padding: 20px;
  background-color: #8477dd; /* Updated background color */
}

h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 4rem;
  color: #ffffff; /* Updated color */
  text-shadow: 2px 2px 1px #a883c1; /* Updated text shadow */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #ffffff; /* Updated color */
  text-shadow: 2px 2px 1px #a883c1; /* Updated text shadow */
}

h3 {
  text-align: center;
  font-size: 1.4rem;
  color: #ffffff; /* Updated color */
  margin-left: 10px;
  font-weight: bold;
}

label {
  margin-bottom: 6px;
  font-size: 1.2rem;
  color: #ffffff; /* Updated color */
  text-shadow: 1px 2px 1px #a883c1; /* Updated text shadow */
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}

select {
  width: 50%; /* Full width */
  height: 50px;
  margin: 10px 0;
  margin-right: 15px;
  display: inline-block; /* Make it inline-block */
  border: 1px solid #ccc; /* Same border color as inputs */
  border-radius: 20px; /* Rounded borders */
  box-sizing: border-box; /* Box sizing to make padding behave */
  -webkit-appearance: none; /* Remove default styling specific to WebKit/Blink */
  -moz-appearance: none; /* Remove default styling specific to Mozilla Firefox */
  appearance: none; /* Specified to none to remove default arrow in IE */
  background-color: #f0f0f0; /* Background color */
  font-family: inherit; /* Font family should match your input's font-family */
  font-size: inherit; /* Font size should match your input's font-size */
}

select:focus {
  border-color: #665ed0; /* Focus color */
  background: none;
  outline: none;
  border: none;
  width: 100%; /* Ensures input takes the full width of the column */
  line-height: 1;
  font-weight: 500;
  font-size: 1.1rem;
  color: #1f1f1f;
}

a {
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff; /* Updated color */
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  background: linear-gradient(-80deg, #8477dd, #5e65b6);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(38, 20, 54, 0.4);
  width: auto;
  height: auto;
}

.container h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.container a {
  font-size: 1.2rem;
  color: #ffffff; /* Updated color */
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  justify-content: center;
  display: flex;
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
}

.container p {
  font-size: 1.2rem;
  color: #ffffff; /* Updated color */
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  justify-content: center;
  display: flex;
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
}
.player-stats {
  margin-bottom: 30px;
}

.stat-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.stat-row label {
  flex-basis: 100px;
}

.stat-row input[type="number"] {
  flex-grow: 1;
  padding: 5px;
  background-color: #f0f0f0; /* Updated input background color */
  border-radius: 20px; /* Updated border-radius */
  border: none; /* Removing border as per new style */
  color: #1f1f1f; /* Updated color */
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  width: 150px;
  height: 48px;
  font-size: 0.8rem;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  background-color: #421C9C;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  margin: 10px 0;
  transition: .3s;
}

.btn:hover {
  background-color: #6858D6;
}

.input-pair {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.input-field {
  max-width: 300px;
  width: 100%;
  height: 50px;
  background-color: #f0f0f0;
  margin: 10px 0px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 .4rem;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  min-width: 500px;
  line-height: 1;
  font-weight: 500;
  font-size: 1.1rem;
  color: #1f1f1f;
}

.input-field input::placeholder {
  color: #8a8a8a;
  font-weight: 400;
  text-align: auto;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.input-player-entry {
  max-width: 100%; /* Sets maximum width, consider using 100% if you want it to be responsive */
  height: 50px;
  background-color: #f0f0f0;
  margin: 10px 0;
  margin-right: 15px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Splits the div into two equal columns */
  padding: 0 0.4rem;
}

.input-player-entry input {
  background: none;
  outline: none;
  border: none;
  width: 100%; /* Ensures input takes the full width of the column */
  line-height: 1;
  font-weight: 500;
  font-size: 1.1rem;
  color: #1f1f1f;
}

.input-player-entry input::placeholder {
  color: #8a8a8a;
  font-weight: 400;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

.toolbar {
  overflow: hidden;
  background-color: #8477dd;
  display: flex;
}

.toolbar form {
  margin-left: auto;
}

/* Toolbar list */
.toolbar ul {
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Clear floats */
}

/* Toolbar list items */
.toolbar li {
  float: left; /* Align items in a row */
  margin: 10px;
}

/* Links inside the toolbar */
.toolbar a {
  font-size: 0.8rem;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #421C9C;
  color: #fff;
  font-weight: 500;
  margin: 10px 0;
  transition: .3s;
  color: white; /* White text */
  text-align: center; /* Centered text */
  padding: 10px 20px; /* Some padding */
  text-decoration: none; /* Remove underline */
}

/* Change color on hover */
.toolbar a:hover {
  background-color: #6858D6; /* Light background */
}

.players-list ul {
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Clear floats */
}

.players-list li {
  color: #f0f0f0;
  font-size: 1.2rem;
}

.player-entry {
  margin-bottom: 6px;
  font-size: 1.2rem;
  color: #ffffff; /* Updated color */
  text-shadow: 1px 2px 1px #a883c1; /* Updated text shadow */
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  align-items: center;
  justify-content: left;
  display: flex;
}
.league-name {
  text-align: center;
  font-size: 1.6rem;
  margin-top: -10px;
  color: rgb(255, 255, 255);
  margin-left: 10px;
}

.new-team-link p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.4rem;
  color: #ffffff; /* Updated color */
  text-shadow: 2px 2px 1px #a883c1; /* Updated text shadow */
}

.header {
  background-color: #47407b;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
