@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,700&display=swap');

body {
  font-family: 'Lato', sans-serif; /* Updated font-family */
  margin: 0;
  padding: 20px;
  background-color: #8477dd; /* Updated background color */
}

h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 4rem;
  color: #ffffff; /* Updated color */
  text-shadow: 2px 2px 1px #a883c1; /* Updated text shadow */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
  color: #ffffff; /* Updated color */
  text-shadow: 2px 2px 1px #a883c1; /* Updated text shadow */
}

label {
  margin-bottom: 6px;
  font-size: 1.2rem;
  color: #ffffff; /* Updated color */
  text-shadow: 1px 2px 1px #a883c1; /* Updated text shadow */
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}

a {
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff; /* Updated color */
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  background: linear-gradient(-80deg, #8477dd, #5e65b6);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(38, 20, 54, 0.4);
  width: auto;
  height: auto;
}

.player-stats {
  margin-bottom: 30px;
}

.stat-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.stat-row label {
  flex-basis: 100px;
}

.stat-row input[type="number"] {
  flex-grow: 1;
  padding: 5px;
  background-color: #f0f0f0; /* Updated input background color */
  border-radius: 20px; /* Updated border-radius */
  border: none; /* Removing border as per new style */
  color: #1f1f1f; /* Updated color */
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  width: 150px;
  height: 48px;
  font-size: 0.8rem;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  background-color: #421C9C;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  margin: 10px 0;
  transition: .3s;
}

.btn:hover {
  background-color: #6858D6;
}

.input-field {
  max-width: 300px;
  width: 100%;
  height: 50px;
  background-color: #f0f0f0;
  margin: 10px 0px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 .4rem;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  min-width: 500px;
  line-height: 1;
  font-weight: 500;
  font-size: 1.1rem;
  color: #1f1f1f;
}

.input-field input::placeholder {
  color: #8a8a8a;
  font-weight: 400;
  text-align: auto;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

.toolbar {
  overflow: hidden;
  background-color: #8477dd;
}

/* Toolbar list */
.toolbar ul {
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Clear floats */
}

/* Toolbar list items */
.toolbar li {
  float: left; /* Align items in a row */
  margin: 10px;
}

/* Links inside the toolbar */
.toolbar a {
  font-size: 0.8rem;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #421C9C;
  color: #fff;
  font-weight: 500;
  margin: 10px 0;
  transition: .3s;
  color: white; /* White text */
  text-align: center; /* Centered text */
  padding: 10px 20px; /* Some padding */
  text-decoration: none; /* Remove underline */
}

/* Change color on hover */
.toolbar a:hover {
  background-color: #6858D6; /* Light background */
}