<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VolleyTracker</title>
    <link rel="stylesheet" href="../css/mainstyles.css" />
  </head>
  <header id="header">
    <h1 class="volleytracker" >VolleyTracker</h1>
  </header>
  <body>
    <div class="toolbar">
      <ul>
        <li><a href="#settings">Settings</a></li>
        <li><a href="#help">Help</a></li>
        <li><a href="/">Logout</a></li>
      </ul>
    </div>
    <div class="container">
      <div id="playerForm">
        <form id="teamInfoForm" method="post"">
          <label for="teamName">Team Name</label>
          <div class="input-field">
            <input
              type="text"
              autocomplete="off"
              id="teamName"
              name="teamName"
              placeholder="Guangdong Tigers"
            />
          </div>
          <label for="league">League</label>
          <div class="input-field">
            <input
              type="text"
              autocomplete="off"
              id="league"
              name="league"
              placeholder="CBA"
            />
          </div>
          <label for="numPlayers">Roster Size</label>
          <div class="input-field">
            <input
              type="number"
              id="rosterSize"
              name="rosterSize"
              min="1"
              max="18"
              placeholder="12"
              required
            />
          </div>
        </form>
        <div class="button-container">
          <button type="button" id="cancel-team-creation" class="btn solid">
            Cancel
          </button>
          <input
            type="submit"
            id="continue-team-creation"
            value="Next"
            class="btn solid"
          />
        </div>
      </div>
    </div>
    <script src="../js/teamcreation.js" defer></script>
  </body>
</html>
