<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/94160b3499.js"
      crossorigin="anonymous"
    ></script>
    <title>Sign Up or Log In</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <header id="header">
    <h1 class="volleytracker" >VolleyTracker</h1>
    <a href="/main" class="nologin">Continue Without Logging In</a>
  </header>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="/login" method="POST" class="signin-form" id="login-form">
            <h2 class="title">Sign In</h2>
            <% if (typeof error !== 'undefined' && error) { %>
              <div class="error-message"><%= error %></div>
            <% } %>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" autocomplete="off" id="username" name="username" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" autocomplete="off" id="password" name="password" placeholder="Password" />
            </div>
            <input type="submit" id='signInButton' value="Login" class="btn solid"/>

            <p class="social-text">Or, sign in with Google</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-google" id="google"></i>
              </a>
            </div>
          </form>

          <form action="/" method="POST" class="signup-form" id="reg-form">
            <h2 class="title">Sign Up</h2>
            <% if (typeof error !== 'undefined' && error) { %>
              <div class="error-message"><%= error %></div>
            <% } %>
            <div class="input-field">
              <i class="fas fa-a"></i>
              <input type="text" autocomplete="off" id="name" name="name" placeholder="Name" />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" autocomplete="off" id="email" name="email" placeholder="E-Mail" />
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" autocomplete="off" id="createusername" name="createusername" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" autocomplete="off" id="createpassword" name="createpassword" placeholder="Password" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" autocomplete="off" id="createpasswordconfirm" name="createpasswordconfirm" placeholder="Confirm Password" />
            </div>
            <input type="submit" id="signUpButton" value="Sign Up" class="btn solid" />

            <p class="social-text">Or, sign up with Google</p>
            <div class="social-media">
              <a href="#" class="social-icon"> 
                <i class="fab fa-google" id="google"></i>
              </a>
            </div>
          </form>
        </div>
      </div>
      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New Here?</h3>
            <p>Click sign up to get started.</p>
            <button class="btn transparent" id="sign-up-btn">Sign Up</button>
          </div>
        <img src="../imgs/setter.svg" class="image" alt="spiker" />
        </div>

        <div class="panel right-panel">
          <div class="content">
            <h3>Welcome Back</h3>
            <p>Already have an account? Click sign in.</p>
            <button class="btn transparent" id="sign-in-btn">Sign In</button>
          </div>
        <img src="../imgs/spiker.svg" class="image" alt="setter" />
        </div>
      </div>
      </div>
    </div>
    <script src="../js/index.js"></script>
  </body>
</html>

