<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VolleyTracker</title>
    <link rel="stylesheet" href="../css/mainstyles.css" />
    <script src="mainpage.js" defer></script>
  </head>
  <body>
    <h1>VolleyTracker</h1>
    <div class="container">
      <div id="playerForm">
        <h2>Hello <%= name %>!</h2>
        <form id="playerInfoForm" onsubmit="createStatTables(event)">
          <label for="numPlayers">Create A Team</label>
          <input type="number" id="numPlayers" min="1" max="12" required />
          <button type="submit">Submit</button>
        </form>
      </div>
      <li><a href="/">Logout</a></li>
    </div>
    <script src="../css/mainpage.js" defer></script>
  </body>
</html>
