<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VolleyTracker</title>
    <link rel="stylesheet" href="../css/mainstyles.css" />
    <script src="mainpage.js" defer></script>
  </head>
  <header id="header">
    <h1 class="volleytracker">VolleyTracker</h1>
  </header>
  <body>
    <div class="toolbar">
      <ul>
        <li><a href="#settings">Settings</a></li>
        <li><a href="/main-help">Help</a></li>
        <li><a href="/logout">Logout</a></li>
        <!-- ADD FUNCTIONALITY: Logout should not link directly to log out -->
      </ul>
      <form id="playerInfoForm" onsubmit="createStatTables(event)">
        <input
          type="submit"
          id="start-create-team"
          value="Create Team"
          class="btn solid"
        />
      </form>
    </div>
    <div class="container">
      <h2>Hello <%= name %>!</h2>
      <div id="playerForm">
        <div class="players-list">
          <h3>Your Teams</h3>
          <% if (teams && teams.length > 0) { %>
          <ul>
            <% teams.forEach(function(team) { %>
            <li class="team-items">
              <a href="/team/<%= team._id %>"><%= team.teamName %></a>
              <button onclick="deleteTeam('<%= team._id %>')">
                Delete Team
              </button>
            </li>
            <% }) %>
          </ul>
          <% } else { %>
          <p>You do not have any teams... Create one above</p>
          <% } %>
        </div>
      </div>
    </div>
    <div>
      <input
      type="submit"
      id="start-create-team"
      value="Create Match"
      class="btn solid"
    />
  </form>
    </div>
    <script src="../js/mainpage.js" defer></script>
  </body>
</html>
