<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VolleyTracker</title>
    <link rel="stylesheet" href="../css/mainstyles.css" />
    <script src="mainpage.js" defer></script>
  </head>
  <body>
    <h1>VolleyTracker</h1>
    <div class="toolbar">
      <ul>
        <li><a href="#settings">Settings</a></li>
        <li><a href="#help">Help</a></li>
        <li><a href="/">Logout</a></li>
      </ul>
    </div>
    <div class="container">
      <div id="playerForm">
        <h2>[Player Name] [Number] will go here</h2>
      </div>
      <div class="button-container">
        <input
          type="submit"
          id="back-team-creation"
          value="Back"
          class="btn solid"
        />
        <input
          type="submit"
          id="team-creation"
          value="Next"
          class="btn solid"
        />
      </div>
    </div>
    <script src="../js/mainpage.js" defer></script>
  </body>
</html>
