/* CSS Styling */
body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #494949;
    color: rgba(255, 255, 255, 0.871);
    text-shadow: 0 0 5px #323232;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 4rem;
    color: rgb(219, 219, 219);
    text-shadow: 0 0 20px #000000;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
    color: rgb(227, 225, 225);
    text-shadow: 0 0 10px #000000;
  }

  label {
    margin-bottom: 6px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #000000;
    text-align: right;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #898989;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 4);
  }
  
  button {
    display: inline-block;
    position: relative;
    padding: 10px 15px;
    left: 45%;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    background-color: #4caf50;
  }

  .button a {
    color: #ffffff;
    text-decoration: none;
  }