<!DOCTYPE html>
<html>
  <head>
    <title>Main Help Page</title>
    <link rel="stylesheet" href="../css/help.css" />
  </head>
  <header id="header">
    <h1 class="volleytracker">VolleyTracker</h1>
  </header>
  <body class="help-container">
    <h2>Help Page</h2>

    <h3>Getting Started with VolleyTracker</h3>
    <p>
      Welcome to the VolleyTracker help page! Here, you can find information on
      how to use the various features of our app.
    </p>

    <h3>Creating a Team</h3>
    <p>
      To create a new team, click the <strong>Create Team</strong> button on the
      main page. This will allow you to enter information about your team,
      including your team name, league, and roster size. Once you've filled out
      this information, you can add players to your team and start tracking
      matches.
    </p>

    <h3>Managing Your Teams</h3>
    <p>
      On the main page, you will find a list of your teams. Clicking directly on
      the team name will take you to a page with an overview of the team.
    </p>

    <h3>Deleting a Team</h3>
    <p>
      If you need to delete a team, you can do so by clicking the
      <strong>Delete Team</strong> button under the team's name. Please note
      that this action is permanent and will remove all information related to
      the team, including player stats and match history!
    </p>

    <h3>Creating a Match</h3>
    <p>
      To keep stats on a match, use the <strong>Create Match</strong> button.
      This feature allows you to select a team and record detailed statistics
      for each match they play. These statistics can be accessed by clicking on
      the team name. Refer to the <strong>"Managing Your Teams"</strong> section
      for more information.
    </p>

    <!-- Add more content or sections as needed -->
    <button type="button" id="cancel-team-creation" class="btn solid">
      Back
    </button>
  </body>
  <script src="../js/teamcreation.js" defer></script>
</html>
