<!DOCTYPE html>
<html>
  <head>
    <title>Main Help Page</title>
    <link rel="stylesheet" href="../css/help.css" />
  </head>
  <body class="help-container">
    <header id="header">
      <h1 class="volleytracker">VolleyTracker</h1>
    </header>
    <h2>Help Page</h2>

    <h3>Getting Started with VolleyTracker</h3>
    <p>
      Welcome to the <strong>VolleyTracker</strong> help page! Here, you can
      find information on how to use the various features of our app.
    </p>

    <h3>Creating a Team</h3>
    <p>
      To create a new team, click the <strong>Create Team</strong> button on the
      main page. This will allow you to enter information about your team,
      including your team name, league, and roster size. Once you've filled out
      this information, you can add players to your team and start tracking
      matches.
    </p>

    <h3>Managing Your Teams</h3>
    <p>
      On the main page, you will find a list of your teams. Clicking directly on
      the team name will take you to a page with an overview of the team and
      your player's stats.
    </p>

    <h3>Editing Your Teams</h3>
    <p>
      If you would like to make changes to your team's name, or any of your
      player's names, click the <strong>Options</strong> button, then the
      <strong>Edit Team</strong> button. This will take you to a page where you
      can make any necessary changes. Please note that all edits are permanent
      once the save button is clicked!
    </p>

    <h3>Deleting a Team</h3>
    <p>
      If you need to delete a team, you can do so by clicking the
      <strong>Options</strong> button, then the
      <strong>Delete Team</strong> button under the team's name. Please note
      that this action is permanent and will remove all information related to
      the team, including player stats and match history!
    </p>

    <h3>Creating a Match</h3>
    <p>
      To keep stats on a match, use the <strong>Create Match</strong> button.
      This feature allows you to select a team and record detailed statistics
      for each match they play. These statistics can be accessed by clicking on
      the team name.
    </p>

    <h3>Viewing Stats</h3>
    <p>
      Statistics will be automatically saved as you track your matches. To see
      your team's statistics, just click on the corresponding team name. There
      will be a number of ways you can filter your data. Please note that these
      specific filters must be set before you begin tracking the match, so don't
      forget to enter tournament and match info!
    </p>
    <div class="button-div">
      <button type="button" id="cancel-team-creation" class="btn solid">
        Back
      </button>
    </div>
  </body>
  <script src="../js/teamcreation.js" defer></script>
</html>
